
USE [simex02]
GO
/****** Object:  Table [dbo].[aeroports]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aeroports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codi] [char](5) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[ciutat_id] [int] NOT NULL,
 CONSTRAINT [PK_aeroports] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ciutats]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ciutats](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[pais_id] [int] NOT NULL,
 CONSTRAINT [PK_ciutats] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[foto_user] [varchar](max) NULL,
	[foto_dni_front] [varchar](max) NOT NULL,
	[foto_dni_back] [varchar](max) NOT NULL,
 CONSTRAINT [PK_clients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documents]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents](
	[id] [int] NOT NULL,
	[nom] [int] NOT NULL,
	[tipus_document_id] [int] NOT NULL,
 CONSTRAINT [PK_documents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estats_ofertes]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estats_ofertes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[estat] [varchar](50) NOT NULL,
 CONSTRAINT [PK_estats_ofertes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incoterms]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incoterms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipus_inconterm_id] [int] NOT NULL,
	[tracking_steps_id] [int] NOT NULL,
 CONSTRAINT [PK_incoterms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[linies_transport_maritim]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[linies_transport_maritim](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[ciutat_id] [int] NOT NULL,
 CONSTRAINT [PK_linies_transport_maritim] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notificaciones]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notificaciones](
	[id] [int] NOT NULL,
	[titulo] [varchar](250) NULL,
	[descripcion] [varchar](500) NULL,
	[visto] [bit] NULL,
	[usuari_id] [int] NULL,
 CONSTRAINT [PK_notificaciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ofertes]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ofertes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipus_transport_id] [int] NOT NULL,
	[comentaris] [varchar](255) NULL,
	[agent_comercial_id] [int] NOT NULL,
	[transportista_origen_id] [int] NOT NULL,
	[tipus_validacio_id] [int] NOT NULL,
	[port_origen_id] [int] NULL,
	[port_desti_id] [int] NULL,
	[linia_transport_maritim_id] [int] NULL,
	[estat_oferta_id] [int] NOT NULL,
	[data_creacio] [date] NOT NULL,
	[data_validessa_inicial] [date] NOT NULL,
	[data_validessa_fina] [date] NULL,
	[rao_rebuig] [varchar](50) NULL,
	[solicitud_id] [int] NOT NULL,
	[documents_id] [int] NULL,
	[etd] [datetime] NULL,
	[eta] [datetime] NULL,
	[transportista_destino_id] [int] NULL,
	[operador_id] [int] NULL,
	[acceptat] [bit] NULL,
	[vist] [bit] NULL,
	[acabat] [bit] NULL,
	[cancelat] [bit] NULL,
 CONSTRAINT [PK_ofertes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paissos]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paissos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
 CONSTRAINT [PK_paissos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ports]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[ciutat_id] [int] NOT NULL,
 CONSTRAINT [PK_ports] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rols]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rols](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rol] [varchar](50) NOT NULL,
 CONSTRAINT [PK_rols] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solicitud]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solicitud](
	[id] [int] NOT NULL,
	[mercancia_nombre] [varchar](150) NOT NULL,
	[pes_brut] [float] NOT NULL,
	[volum] [float] NOT NULL,
	[client_id] [int] NOT NULL,
	[operador_id] [int] NOT NULL,
	[mercancia_tipus] [int] NOT NULL,
	[tipus_transport_id] [int] NOT NULL,
	[tipus_contenidor_id] [int] NOT NULL,
	[origen_id] [int] NOT NULL,
	[destino_id] [int] NOT NULL,
	[incoterm_id] [int] NOT NULL,
	[tipus_fluxe_id] [int] NOT NULL,
	[tipus_carrega_id] [int] NOT NULL,
 CONSTRAINT [PK_solicitud] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipus_carrega]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipus_carrega](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tipus_carrega] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipus_contenidors]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipus_contenidors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tipus_contenidors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipus_document]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipus_document](
	[id] [int] NOT NULL,
	[tipus_document] [int] NOT NULL,
 CONSTRAINT [PK_tipus_document] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipus_fluxes]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipus_fluxes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tipus_fluxes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipus_incoterms]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipus_incoterms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codi] [char](5) NULL,
	[nom] [varchar](50) NULL,
 CONSTRAINT [PK_tipus_incoterms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipus_tracking]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipus_tracking](
	[id] [int] NOT NULL,
	[tipus_nom] [varchar](150) NOT NULL,
	[tracking_steps_id] [int] NULL,
 CONSTRAINT [PK_tipo_tracking] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipus_transports]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipus_transports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tipus_transports] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipus_validacions]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipus_validacions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tipus_validacions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tracking_steps]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tracking_steps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ordre] [int] NULL,
	[nom] [varchar](50) NULL,
 CONSTRAINT [PK_tracking_steps] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transportistes]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transportistes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[ciutat_id] [int] NOT NULL,
 CONSTRAINT [PK_transportistes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuaris]    Script Date: 24/03/2026 16:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuaris](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[correu] [varchar](50) NOT NULL,
	[contrasenya] [varchar](256) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[cognoms] [varchar](50) NOT NULL,
	[rol_id] [int] NOT NULL,
	[pais_id] [int] NOT NULL,
	[empresa] [varchar](50) NULL,
	[dni] [varchar](50) NULL,
	[foto_user] [varchar](max) NOT NULL,
	[foto_dni_front] [varchar](max) NOT NULL,
	[foto_dni_back] [varchar](max) NOT NULL,
	[usuari_id] [int] NULL,
 CONSTRAINT [PK_usuaris] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[aeroports]  WITH CHECK ADD  CONSTRAINT [FK_aeroports_ciutats] FOREIGN KEY([ciutat_id])
REFERENCES [dbo].[ciutats] ([id])
GO
ALTER TABLE [dbo].[aeroports] CHECK CONSTRAINT [FK_aeroports_ciutats]
GO
ALTER TABLE [dbo].[ciutats]  WITH CHECK ADD  CONSTRAINT [FK_ciutats_paissos] FOREIGN KEY([pais_id])
REFERENCES [dbo].[paissos] ([id])
GO
ALTER TABLE [dbo].[ciutats] CHECK CONSTRAINT [FK_ciutats_paissos]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [FK_documents_tipus_document] FOREIGN KEY([id])
REFERENCES [dbo].[tipus_document] ([id])
GO
ALTER TABLE [dbo].[documents] CHECK CONSTRAINT [FK_documents_tipus_document]
GO
ALTER TABLE [dbo].[incoterms]  WITH CHECK ADD  CONSTRAINT [FK_incoterms_tipus_incoterms] FOREIGN KEY([tipus_inconterm_id])
REFERENCES [dbo].[tipus_incoterms] ([id])
GO
ALTER TABLE [dbo].[incoterms] CHECK CONSTRAINT [FK_incoterms_tipus_incoterms]
GO
ALTER TABLE [dbo].[incoterms]  WITH CHECK ADD  CONSTRAINT [FK_incoterms_tracking_steps] FOREIGN KEY([tracking_steps_id])
REFERENCES [dbo].[tracking_steps] ([id])
GO
ALTER TABLE [dbo].[incoterms] CHECK CONSTRAINT [FK_incoterms_tracking_steps]
GO
ALTER TABLE [dbo].[linies_transport_maritim]  WITH CHECK ADD  CONSTRAINT [FK_linies_transport_maritim_ciutats] FOREIGN KEY([ciutat_id])
REFERENCES [dbo].[ciutats] ([id])
GO
ALTER TABLE [dbo].[linies_transport_maritim] CHECK CONSTRAINT [FK_linies_transport_maritim_ciutats]
GO
ALTER TABLE [dbo].[notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_notificaciones_usuaris] FOREIGN KEY([usuari_id])
REFERENCES [dbo].[usuaris] ([id])
GO
ALTER TABLE [dbo].[notificaciones] CHECK CONSTRAINT [FK_notificaciones_usuaris]
GO
ALTER TABLE [dbo].[ofertes]  WITH CHECK ADD  CONSTRAINT [FK_ofertes_document] FOREIGN KEY([id])
REFERENCES [dbo].[documents] ([id])
GO
ALTER TABLE [dbo].[ofertes] CHECK CONSTRAINT [FK_ofertes_document]
GO
ALTER TABLE [dbo].[ofertes]  WITH CHECK ADD  CONSTRAINT [FK_ofertes_estats_ofertes] FOREIGN KEY([estat_oferta_id])
REFERENCES [dbo].[estats_ofertes] ([id])
GO
ALTER TABLE [dbo].[ofertes] CHECK CONSTRAINT [FK_ofertes_estats_ofertes]
GO
ALTER TABLE [dbo].[ofertes]  WITH CHECK ADD  CONSTRAINT [FK_ofertes_linies_transport_maritim] FOREIGN KEY([linia_transport_maritim_id])
REFERENCES [dbo].[linies_transport_maritim] ([id])
GO
ALTER TABLE [dbo].[ofertes] CHECK CONSTRAINT [FK_ofertes_linies_transport_maritim]
GO
ALTER TABLE [dbo].[ofertes]  WITH CHECK ADD  CONSTRAINT [FK_ofertes_ports] FOREIGN KEY([port_origen_id])
REFERENCES [dbo].[ports] ([id])
GO
ALTER TABLE [dbo].[ofertes] CHECK CONSTRAINT [FK_ofertes_ports]
GO
ALTER TABLE [dbo].[ofertes]  WITH CHECK ADD  CONSTRAINT [FK_ofertes_ports1] FOREIGN KEY([port_desti_id])
REFERENCES [dbo].[ports] ([id])
GO
ALTER TABLE [dbo].[ofertes] CHECK CONSTRAINT [FK_ofertes_ports1]
GO
ALTER TABLE [dbo].[ofertes]  WITH CHECK ADD  CONSTRAINT [FK_ofertes_tipus_transports] FOREIGN KEY([tipus_transport_id])
REFERENCES [dbo].[tipus_transports] ([id])
GO
ALTER TABLE [dbo].[ofertes] CHECK CONSTRAINT [FK_ofertes_tipus_transports]
GO
ALTER TABLE [dbo].[ofertes]  WITH CHECK ADD  CONSTRAINT [FK_ofertes_tipus_validacions] FOREIGN KEY([tipus_validacio_id])
REFERENCES [dbo].[tipus_validacions] ([id])
GO
ALTER TABLE [dbo].[ofertes] CHECK CONSTRAINT [FK_ofertes_tipus_validacions]
GO
ALTER TABLE [dbo].[ofertes]  WITH CHECK ADD  CONSTRAINT [FK_ofertes_transportistes] FOREIGN KEY([transportista_origen_id])
REFERENCES [dbo].[transportistes] ([id])
GO
ALTER TABLE [dbo].[ofertes] CHECK CONSTRAINT [FK_ofertes_transportistes]
GO
ALTER TABLE [dbo].[ofertes]  WITH CHECK ADD  CONSTRAINT [FK_ofertes_transportistes1] FOREIGN KEY([transportista_destino_id])
REFERENCES [dbo].[transportistes] ([id])
GO
ALTER TABLE [dbo].[ofertes] CHECK CONSTRAINT [FK_ofertes_transportistes1]
GO
ALTER TABLE [dbo].[ofertes]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_ofertes] FOREIGN KEY([solicitud_id])
REFERENCES [dbo].[solicitud] ([id])
GO
ALTER TABLE [dbo].[ofertes] CHECK CONSTRAINT [FK_solicitud_ofertes]
GO
ALTER TABLE [dbo].[ports]  WITH CHECK ADD  CONSTRAINT [FK_ports_ciutats] FOREIGN KEY([ciutat_id])
REFERENCES [dbo].[ciutats] ([id])
GO
ALTER TABLE [dbo].[ports] CHECK CONSTRAINT [FK_ports_ciutats]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_ciutats] FOREIGN KEY([origen_id])
REFERENCES [dbo].[ciutats] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_ciutats]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_ciutats1] FOREIGN KEY([destino_id])
REFERENCES [dbo].[ciutats] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_ciutats1]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_clients] FOREIGN KEY([client_id])
REFERENCES [dbo].[clients] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_clients]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_contenidortipus] FOREIGN KEY([tipus_contenidor_id])
REFERENCES [dbo].[tipus_contenidors] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_contenidortipus]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_incoterm] FOREIGN KEY([incoterm_id])
REFERENCES [dbo].[incoterms] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_incoterm]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_operador] FOREIGN KEY([operador_id])
REFERENCES [dbo].[usuaris] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_operador]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_tipus_carrega] FOREIGN KEY([tipus_carrega_id])
REFERENCES [dbo].[tipus_carrega] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_tipus_carrega]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_tipus_fluxes] FOREIGN KEY([tipus_fluxe_id])
REFERENCES [dbo].[tipus_fluxes] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_tipus_fluxes]
GO
ALTER TABLE [dbo].[solicitud]  WITH CHECK ADD  CONSTRAINT [FK_solicitud_tipustransport] FOREIGN KEY([tipus_transport_id])
REFERENCES [dbo].[tipus_transports] ([id])
GO
ALTER TABLE [dbo].[solicitud] CHECK CONSTRAINT [FK_solicitud_tipustransport]
GO
ALTER TABLE [dbo].[tipus_tracking]  WITH CHECK ADD  CONSTRAINT [FK_tipo_tracking_tracking_steps] FOREIGN KEY([tracking_steps_id])
REFERENCES [dbo].[tracking_steps] ([id])
GO
ALTER TABLE [dbo].[tipus_tracking] CHECK CONSTRAINT [FK_tipo_tracking_tracking_steps]
GO
ALTER TABLE [dbo].[transportistes]  WITH CHECK ADD  CONSTRAINT [FK_transportistes_ciutats] FOREIGN KEY([ciutat_id])
REFERENCES [dbo].[ciutats] ([id])
GO
ALTER TABLE [dbo].[transportistes] CHECK CONSTRAINT [FK_transportistes_ciutats]
GO
ALTER TABLE [dbo].[usuaris]  WITH CHECK ADD  CONSTRAINT [FK_usuaris_rols] FOREIGN KEY([rol_id])
REFERENCES [dbo].[rols] ([id])
GO
ALTER TABLE [dbo].[usuaris] CHECK CONSTRAINT [FK_usuaris_rols]
GO
